<div class="content">

  <div id="booking-div" class="col s12 m12 l6">
    <div class="card-panel">
      <h4 class="header2" style="text-align: center">Book a slot now</h4>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="booking_name" type="text" value="<%= name %>" autofocus>
              <label for="first_name" class="">Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">phone</i>
              <input id="phone" type="tel" value="<%= phone %>">
              <label for="phone" class="active">Phone</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">lock_outline</i>
              <input id="password5" type="password" class="validate valid">
              <label for="password" class="active">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">question_answer</i>
              <textarea id="message4" class="materialize-textarea validate" length="120" style="height: 45px;"></textarea>
              <label for="message" class="">Message</label>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <button class="btn cyan waves-effect waves-light right" type="submit" name="action">Submit
                  <i class="material-icons right">send</i>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>