<!DOCTYPE html>
<html>

<head>
  <% include ../../partials/_header %>

  <script src="/javascripts/scripts/dashboard.js"></script>
</head>

<body>

  <!-- navbar section -->
  <% include _navbar%>
  <!-- End of navbar section -->

  <!-- booking section -->
  <% include _booking %>
  <!-- end of booking section -->

</body>

</html>