<div id="regis-modal" class="modal">
  <div class="modal-content">
    <h4>Register an account</h4>
    <div class="row">
      <form class="col s12" name="register" id="register">

        <!-- 1st name and last name section -->
        <div class="row">
          <!-- First Name -->
          <div class="input-field col s6">
            <input id="first_name" type="text" class="validate" name="first_name" required>
            <label for="first_name">First Name</label>
            <p id="fn" style="color: red"></p>
          </div>

          <!-- Last Name -->
          <div class="input-field col s6">
            <input id="last_name" type="text" class="validate" required>
            <label for="last_name">Last Name</label>
            <p id="ln" style="color: red"></p>
          </div>
        </div>

        <!-- Email & phone section -->
        <div class="row">
          <!-- Email -->
          <div class="input-field col s6">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
            <span class="helper-text" data-error="Invalid email format" data-success="Valid"></span>
            <p id="em" style="color: red"></p>
          </div>

          <!-- Phone number -->
          <div class="input-field col s6">
            <input id="phone_number" type="text" class="validate">
            <label for="phone_number">Phone Number</label>
            <p id="pn" style="color: red"></p>
          </div>
        </div>

        <!-- password -->
        <div class="row">

          <div class="input-field col s4">
            <input id="username" type="text" class="validate">
            <label for="username">Username</label>
            <p id="un" style="color: red"></p>
          </div>

          <div class="input-field col s4">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
            <p id="pw" style="color: red"></p>
          </div>

          <div class="input-field col s4">
            <input id="re_password" type="password" class="validate">
            <label for="re_password">Confirm your password</label>
            <p id="rpw" style="color: red"></p>
          </div>
        </div>

        <!-- Personal informatiob -->
        <div class="row">

          <!-- Gender -->
          <div class="input-field col s2">
            <p>Select your gender</p>
            <p>
              <label>
                <input class="with-gap" name="gender" type="radio" checked="checked" value="1" id="gender" />
                <span>Male</span>
              </label>
              <label>
                <input class="with-gap" name="gender" type="radio" value="0" id="gender" />
                <span>Female</span>
              </label>
            </p>
          </div>
          <!-- end of gender -->

          <!-- birthday -->
          <div class="input-field col s5">
            <p>Select your birthday</p>
            <input type="text" class="datepicker" id="birthday">
            <p id="bd" style="color: red"></p>
          </div>

          <!-- choose unversity -->
          <div class="input-field col s5 s4">
            <p>Choose your university</p>
            <select class="icons" id="school">
              <option value="" disabled selected>Choose your option</option>
              <option value="1" data-icon="/images/kinhte.jpg">Đại học Kinh Tế</option>
              <option value="2" data-icon="/images/duytan.jpg">Đại học Duy Tân</option>
              <option value="3" data-icon="/images/bachkhoa.jpg">Đại học Bách Khoa</option>
              <option value="4" data-icon="/images/ngoaingu.jpg">Đại học Ngoại Ngữ</option>
              <option value="5" data-icon="/images/donga.jpg">Đại học Đông Á</option>
              <option value="6" data-icon="/images/kientruc.jpg">Đại học Kiến Trúc</option>
              <option value="7" data-icon="/images/spkt.jpg">Đại học Sư phạm kỹ thuật</option>
              <option value="8" data-icon="#">Cao đẳng Thương mại</option>
              <option value="9" data-icon="#">Cao đẳng Kinh tế kế hoạch</option>
            </select>
            <p id="sc" style="color: red"></p>
          </div>

        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="waves-effect waves-light btn" id="btnRegister" onclick=" return register()">Register</a>
    <a href="#!" class="modal-close waves-effect waves-green btn-flat" onclick=" return clearModal()">Close</a>
  </div>
</div>